<!DOCTYPE html>
<html ng-app="ting">
<head lang="zh-cn">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Ting</title>
	<link rel="stylesheet" href="css/bootstrap.min.css"/>
	<link rel="stylesheet" href="css/bootstrap-theme.min.css"/>
	<link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="css/style.css"/>
</head>
<body ng-controller="RootController">
<header class="navbar navbar-static-top navbar-default" id="top" role="banner">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" type="button" xl-toggle=".xl-navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a ng-href="#/" class="navbar-brand">百度音乐API</a>
		</div>
		<nav class="collapse navbar-collapse hidden xl-navbar-collapse" role="navigation">
			<ul class="nav navbar-nav">
				<li><a href="javascript:void(0)" ng-click="news()">新歌榜</a></li>
				<li><a href="javascript:void(0)" ng-click="hot()">热歌榜</a></li>
			</ul>
		</nav>
	</div>
</header>

<div class="container">
	<div class="col-md-3">
		<div class="player">
			<!--歌曲图片-->
			<img ng-class="{true:'active',false:''}[playing]" ng-src="api/img.php?img={{song.pic_big}}" class="album_img" alt="{{song.title}}"/>

			<h2 ng-bind="{{song.title}}"></h2>
			<small>{{song.author}} | {{song.album_title}} | {{song.language}} | 音量：{{player.volume}}</small>
			<!--操作区-->
			<div class="btn-toolbar">
				<div class="btn-group">
					<button type="button" ng-click="prev()" ng-class="{true:'',false:'disabled'}[hasPrev]" class="btn btn-default"><i class="fa fa-backward"></i></button>
					<button type="button" class="btn btn-default" ng-click="play(song)" ng-if="!playing"><i class="fa fa-play"></i></button>
					<button type="button" class="btn btn-default" ng-click="pause()" ng-if="playing"><i class="fa fa-pause"></i></button>
					<button type="button" ng-click="next()" ng-class="{true:'',false:'disabled'}[hasNext]" class="btn btn-default"><i class="fa fa-step-forward"></i></button>
				</div>
				<div class="btn-group">
					<button type="button" ng-class="{true:'disabled',false:''}[player.volume==0]" ng-click="down()" class="btn btn-default"><i class="fa fa-volume-down"></i></button>
					<button type="button" ng-class="{true:'disabled',false:''}[player.volume==1]" ng-click="up()" class="btn btn-default"><i class="fa fa-volume-up"></i></button>
				</div>
				<div class="btn-group">
					<button type="button" ng-click="download(song.song_id||song.songid)" class="btn btn-default"><i class="fa fa-cloud-download"></i></button>
				</div>
			</div>
			<hr/>
			<!--audio-->
			<audio loop="loop" ng-src="{{song.link}}" style="opacity: 0" autoplay="autoplay"></audio>
		</div>

		<section>
			<!--搜索-->
			<form action="" method="get" class="form-horizontal">
				<div class="form-group">
					<div class="col-xs-8">
						<input type="text" ng-model="keyword" placeholder="歌名、歌手" class="form-control input-sm"/>
					</div>
					<div class="col-xs-4">
						<button type="button" class="btn btn-sm btn-primary btn-block" ng-click="search()"> 搜索</button>
					</div>
				</div>
			</form>

			<div class="list-group">
				<div class="list-group-item clearfix" ng-repeat="item in searchList">
					<div class="pull-left">
						<i class="fa fa-play text-success" ng-if="playing && song.songid == item.songid"></i> {{item.songname|limitTo:'7'}} <small>{{item.artistname|limitTo:'4'}}</small>
					</div>
					<div class="pull-right">
						<a href="javascript:void(0)" ng-click="playSearch(item)" ng-if="!playing || song.songid != item.songid">播放</a>
						<a href="javascript:void(0)" ng-click="pause()" ng-if="playing && song.songid == item.songid">暂停</a>
						<a href="javascript:void(0)" ng-click="download(item.songid)">下载</a>
					</div>
				</div>
			</div>
		</section>
	</div>
	<div class="col-md-9">
		<h2 ng-init="hot()">{{billboard.title}}
		</h2>
		<div>
			<small>更新日期：{{billboard.update_at}}</small></div>
		<p ng-bind="billboard.desc"></p>
		<div class="list-group">
			<div class="list-group-item clearfix" ng-repeat="item in billboard.list">
				<div class="pull-left"><i class="fa fa-play text-success" ng-if="playing && song.song_id == item.song_id"></i>
					{{item.title|limitTo:'7'}} <small>{{item.author|limitTo:'4'}}</small></div>
				<div class="pull-right">
					<a href="javascript:void(0)" ng-click="play(item)" ng-if="!playing || song.song_id != item.song_id">播放</a>
					<a href="javascript:void(0)" ng-click="pause()" ng-if="playing && song.song_id == item.song_id">暂停</a>
					<a href="javascript:void(0)" ng-click="download(item.song_id)">下载</a></div>
			</div>
		</div>
	</div>
</div>


<div class="modal" ng-if="loading">
	<!--	loading-->
	<div class="loading">
		<div class="circle">
			<span class="point"></span>
		</div>
		<div class="text" ng-bind="loading_text || 'loading...'"></div>
	</div>
</div>
<script src="bower_components/angularjs/angular.min.js"></script>
<script src="main.js"></script>
</body>
</html>